body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: #010000;
 
  }
  nav {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    transition: align-items .2s;
 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    
  }
  
  li {
    float: left;
    width: 25%;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

  .row {
    display: flex;
}

/* Sidebar/left column */

.side {
    flex: 30%;
    background-color: #ab3389;
    padding: 20px;
}

/* Main column */
.main {
    flex: 70%;
    background-color: rgb(255, 250, 250);
    padding: 20px;
}

/* Fake image, just for this example */

.fakeimg {
    background-color: rgb(255, 254, 254);
    width: 50%;
    padding: 20px;
}
#footer{
    height: 50px;
    clear: both;
    border: 1px solid #CDCDCD;
    background-color: #F8F8FF;
    text-align: center;
}